{% extends 'zaratamap_app/base.html' %}
{% load static %}
{% load i18n %}

{% block contenido %}
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card-img-top">
                    <img src="{% static 'images/noise_table.jpg' %}" alt="" class="img-fluid">
                </div>
                <!-- .card-body -->
                <div class="card-body pt-2">
                    <!-- .media -->
                    <div class="media mb-3">
                        <!-- .user-avatar -->
                        <a class="user-avatar user-avatar-floated user-avatar-xl float-left mr-3">
                            <img src="{{ profile_picture }}" alt="User Avatar" class="rounded-circle user-avatar-xl">
                        </a>
                        <!-- /.user-avatar -->
                        <!-- .media-body -->
                        <br>
                        <div class="media-body" style="padding-top: 15px;padding-left: 5px">
                            <h3 class="card-title mb-2 text-truncate">
                                {{ user.get_username }}
                            </h3>
                            {% if user.is_superuser %}
                                <h6 class="card-subtitle text-muted">{% trans 'IT Administrator' %}</h6>
                            {% elif perms.zaratamap_app.can_view %}
                                <h6 class="card-subtitle text-muted">{% trans 'Zaratamap Administrator' %}</h6>
                            {% else %}
                                <h6 class="card-subtitle text-muted">{% trans 'Citizen' %}</h6>
                            {% endif %}
                            <h6 style="padding-top: 10px;" class="card-subtitle text-muted">{{user.email}}</h6>

                        </div>
                        <!-- /.media-body -->
                        <div style="padding-top: 15px">
                            <a href="{% url 'myfilters' %}" class="btn btn-sm btn-secondary">
                                <i class="fas fa-boxes"></i>&nbsp;&nbsp;{% trans 'My Filters' %}</a>
                        </div>
                    </div>
                    <!-- /.media -->
                    <div class="accrodion-regular">
                        <div id="accordion4">
                            <div class="card bg-primary">
                                <div class="card-header" id="headingTen">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                                            <span class="fas fa-angle-down mr-3"></span>{% trans 'Change email' %}
                                        </button>
                                    </h5>
                                </div>
                                {% if error_message_email_change %}
                                    <div id="collapseTen" class="collapse show" aria-labelledby="headingTen" data-parent="#accordion4">
                                {% else %}
                                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion4">
                                {% endif %}
                                <div class="card-body profile-accordion">
                                    <form method="post">
                                        {% csrf_token %}
                                        <div style="color:black">
                                            <label>{% trans 'Password' %}:&nbsp;</label>
                                            <input required value ="" class="form-control" type="password" name="password_email" style="width:auto;display:inline;" autocomplete="new-password">
                                        </div>
                                        <br>
                                        <div style="color:black">
                                            <label>{% trans 'New email' %}:&nbsp;</label>
                                            <input required value ="" class="form-control" type="email" name="new_email" style="width:auto;display:inline;" autocomplete="new-password">
                                        </div>
                                        <br>
                                        {% if error_message_email_change %}
                                            <label style="color: #FF407B">{{ error_message_email_change }}</label><br><br>
                                        {% endif %}
                                        <button class="btn btn-primary" type="submit" id="changePasswordButton" name="changePassword">{% trans 'Change email' %}</button>
                                    </form>
                                </div>
                                </div>
                                </div>
                                <div class="card bg-primary">
                                    <div class="card-header" id="headingEleven">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                                <span class="fas fa-angle-down mr-3"></span>{% trans 'Change password' %}
                                            </button>       </h5>
                                    </div>
                                    {% if error_message_password_change %}
                                        <div id="collapseEleven" class="collapse show" aria-labelledby="headingEleven" data-parent="#accordion4">
                                    {% else %}
                                        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion4">
                                    {% endif %}
                                    <div class="card-body profile-accordion">
                                        <form method="post">
                                            {% csrf_token %}
                                            <div style="color:black">
                                                <label>{% trans 'Current password' %}:&nbsp;</label>
                                                <input required class="form-control" type="password" name="old_password" style="width:auto;display:inline;"autocomplete="off">
                                            </div>
                                            <br>
                                            <div style="color:black">
                                                <label>{% trans 'New password' %}:&nbsp;</label>
                                                <input required class="form-control" type="password" name="new_password1" style="width:auto;display:inline;"autocomplete="off">
                                            </div>
                                            <br>
                                            <div style="color:black">
                                                <label>{% trans 'New password confirmation' %}:&nbsp;</label>
                                                <input required class="form-control" type="password" name="new_password2" style="width:auto;display:inline;"autocomplete="off">
                                            </div>
                                            <br>
                                            {% if error_message_password_change %}
                                                <label style="color: #FF407B">{{ error_message_password_change }}</label><br><br>
                                            {% endif %}
                                            <button type="submit" class="btn btn-primary" id="changePasswordButton" name="changePassword">{% trans 'Change password' %}</button>
                                        </form>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="card bg-primary">
                                        <div class="card-header" id="headingTwelve">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                                    <span class="fas fa-angle-down mr-3"></span>{% trans 'Change image' %}
                                                </button>       </h5>
                                        </div>
                                        {% if error_message_image_change %}
                                            <div id="collapseTwelve" class="collapse show" aria-labelledby="headingTwelve" data-parent="#accordion4">
                                        {% else %}
                                            <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion4">
                                        {% endif %}
                                        <div class="card-body profile-accordion">
                                            <form method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <input class="btn btn-primary" type="file" name="imageToUpload" id="imageToUpload" accept="image/*">
                                                <br><br>
                                                {% if error_message_image_change %}
                                                    <label style="color: #FF407B">{{ error_message_image_change }}</label><br><br>
                                                {% endif %}
                                                <button class="btn btn-primary" type="submit" name="submit">{% trans 'Upload image' %}</button>
                                            </form>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}